<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <h4 class="font-weight-bolder mb-0">
        <%= link_to "Supplied", root_path %>
      </h4>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <ul class="navbar-nav justify-content-end">
        <% if Current.user %>
          <li class="nav-item d-flex align-items-center">
            <i class="fa fa-user me-sm-3"></i>
            <%= link_to Current.user.email, edit_password_path, class: "nav-link text-body font-weight-bold px-0" %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <i class="fa fa-user me-sm-3"></i>
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-primary btn-sm" %>
          </li>
        <% else %>
          <li class="nav-item d-flex align-items-center">
            <i class="fa fa-user me-sm-3"></i>
            <%= link_to "Sign Up", sign_up_path, class: "nav-link text-body font-weight-bold px-0" %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <i class="fa fa-user me-sm-3"></i>
            <%= link_to "Login", sign_in_path, class: "nav-link text-body font-weight-bold px-0" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>