<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Edit Client</h4>
            <p class="card-category">Edit Client Information</p>
          </div>
          <div class="card-body">
          <%= form_with(model: @client) do |form| %>
            <% if @client.errors.any? %>
              <div class="col-lg-3 col-sm-6 col-12 mt-lg-0 mt-2 mb-3">
                  <% @client.errors.each do |error| %>
                    <span class="btn bg-gradient-danger w-100 mb-0 toast-btn mb-2" style="cursor: auto"><%= error.full_message %></span>
                  <% end %>
              </div>
            <% end %>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group input-group-outline mb-3">
                  <%= form.text_field :name, placeholder: "Client Name", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group input-group-outline mb-3">
                  <%= form.text_field :email, placeholder: "Client Email", class: "form-control" %>
                </div>
              </div>
            </div>
            <%= form.submit class: "btn btn-primary pull-right" %>
            <%= link_to "Back", @client, class: "btn btn-outline-primary" %>
            <div class="clearfix"></div>
          <% end %>
          <%= button_to "Delete", @client, method: :delete, class: "btn btn-outline-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>