<p style="color: green"><%= notice %></p>

<%= render @client %>

<div class="container-fluid py-4">
      <div class="row">
        <div class="col-9">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Products</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Brand</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @client.products.each do |product| %>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm"><%= product.product_name %></h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs text-secondary mb-0"><%= product.brand %></p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs text-secondary mb-0"><%= product.quantity %></p>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-xs text-secondary mb-0"><%= product.price %></p>
                      </td>
                      <td class="align-middle">
                        <%= link_to "Edit", client_product_path(@client, product), class: "text-secondary font-weight-bold text-xs"  %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <%= link_to "New Product", new_client_product_path(@client), class: "btn btn-primary" %>
        </div>
      </div>
</div>