<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Edit this client", edit_client_path(@client) %>
  <%= link_to "Back to clients", clients_path %>

  <%= button_to "Destroy this client", @client, method: :delete %>
</div>

<br />

<h1>Products</h1>

<table class="table">
<tbody>
<thead>
<tr>
  <th scope="col"></th>
  <th scope="col">Product Name</th>
  <th scope="col">Quantity</th>
  <th scope="col">Price</th>
</tr>
</thead>

<% @client.products.each do |product| %>
    <tr>
      <th scope="row">1</th>
      <td><%= product.product_name %></td>
      <td><%= product.quantity %></td>
      <td><%= product.price %></td>
      <td><%= link_to "Show", client_product_path(@client, product) %></td>
    </tr>
    <% end %>
    </tbody>
  </table>


<%= link_to "New Product", new_client_product_path(@client) %>