<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">New Product</h4>
            <p class="card-category">Create a New Product</p>
          </div>
          <div class="card-body">
          <%= form_with(model: [@client, product], local: true) do |form| %>
            <% if product.errors.any? %>
              <div class="col-lg-3 col-sm-6 col-12 mt-lg-0 mt-2 mb-3">
                <% product.errors.each do |error| %>
                  <button class="btn bg-gradient-danger w-100 mb-0 toast-btn mb-2" style="cursor: auto"><%= error.full_message %></button>
                <% end %>
              </div>
            <% end %>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group input-group-outline mb-3">
                  <%= form.text_field :product_name, placeholder: "Product Name", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group input-group-outline mb-3">
                  <%= form.text_field :brand, placeholder: "Brand", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group input-group-outline mb-3">
                  <%= form.text_field :quantity, placeholder: "Quantity", class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group input-group-outline mb-3">
                  <%= form.text_field :price, placeholder: "Price", class: "form-control" %>
                </div>
              </div>
            </div>
            <%= form.submit class: "btn btn-primary pull-right" %>
            <%= link_to "Back", @client, class: "btn btn-outline-primary" %>
            <div class="clearfix"></div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>