<!DOCTYPE html>
<html>
  <head>
    <title>Supplied</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <%= yield %>
  <div class="container">
    <table class="table table-bordered">
      <tbody>
        <tr>
            <td class="align-middle"><i class="bi bi-people" style="font-size: 2rem"></i></td>
            <td class="align-middle">Clients</td>
            <td class="align-middle"><i class="bi bi-search"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  </body>
</html>
